

h1 {
  margin: 0; border:1px solid #ccc; font-size:17px; margin-bottom:2px; font-weight:bold
  
}

h1 a {
  background: url(../images/sprite.png) 15px 13px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color:#313030;
  text-decoration: none;
  font-weight: normal;

 
}
h1 a:hover { color:#0756bc; }
.current a { color:#0756bc; }
h1.open  { color:#0756bc; }
h1.open a {color:#0756bc;background-position: 13px -25px; }
h1 + div { padding:0px; font-size:14px }
.submenu ul{ margin:0; padding:0 0px}
.submenu ul li{ margin:0 0 2px 0; padding:6px 5px 6px 25px; background:url(../images/cat-marker-sub.png) no-repeat; border:1px solid #ccc}
.submenu ul li a{ color:#444}
.submenu ul li a:hover{ color:#0756bc}

